* {
    margin: 0;
    padding: 0;
}
body {
    background: pink;
}

header {
    background: yellow;
    padding: .5em 0;
    text-align: center;
    font-family: Arial;
}

h1 {
    color: black;
    background: ;
    padding: 1rem;
}

h2 {
    background: white;
}

h3 {
    background: lightyellow;
    padding: .5em;
}

p {
    padding: .5em;
}

section {
    background: white;
    margin: 1em auto;
    width: 94vw;
}
